*{box-sizing: border-box;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --cor-escura: black;
    --cor-clara: white;
    --cor-chamativa: rgb(33, 33, 112);
    --cor-intermediaria: rgb(238, 229, 229);

}

body {
    border: solid var(--cor-escura);
    background-color: var(--cor-intermediaria);
    background-image: url();
}

header {
    background-color: var(--cor-chamativa);
    border: solid var(--cor-chamativa);
    border-bottom: solid var(--cor-escura);
}

h1 {
    color: var(--cor-clara);
    border: solid var(--cor-escura);
    border-radius: 20px;
    padding: 2px;
    margin-right: 40px;
    background-color: black;
    font-family: Raleway;
}

hr {border: none;}

h2 {
    font-family: 'Noto sans';
    padding: 10px;
    font-weight: 800;
    border-bottom: solid var(--cor-escura);
    
}

p {
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li {
    border: solid var(--cor-escura);
    
}

ul li::marker {
        content: none;
}
ul li:nth-last-child(odd) {
    background-color: var(--cor-chamativa);
    color: var(--cor-clara);
    margin-right: 25px;
}

ul li:nth-last-child(even) {
    background-color: gray;
    color: white;
    margin-right: 25px;
}

footer {
    background-color: var(--cor-chamativa);
    color: var(--cor-clara);
    height: 10vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

footer p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

} 

